USE [master]
GO
/****** Object:  Database [VentasSuperstore]    Script Date: 31/07/2025 22:59:48 ******/
CREATE DATABASE [VentasSuperstore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VentasSuperstore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VentasSuperstore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VentasSuperstore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VentasSuperstore_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VentasSuperstore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VentasSuperstore]
GO
/****** Object:  Table [dbo].[Ventas_Separadas_v1]    Script Date: 31/07/2025 22:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas_Separadas_v1](
	[Row ID] [int] NULL,
	[Order ID] [varchar](15) NULL,
	[Order Date] [date] NULL,
	[Ship Date] [date] NULL,
	[Ship Mode] [varchar](15) NULL,
	[Customer ID] [varchar](10) NULL,
	[Customer Name] [varchar](30) NULL,
	[Segment] [varchar](15) NULL,
	[Country] [varchar](15) NULL,
	[City] [varchar](20) NULL,
	[State] [varchar](25) NULL,
	[Postal Code] [varchar](6) NULL,
	[Region] [varchar](10) NULL,
	[Product ID] [varchar](20) NULL,
	[Category] [varchar](20) NULL,
	[Sub-Category] [varchar](15) NULL,
	[Product Name] [varchar](130) NULL,
	[Sales] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[Discount] [decimal](5, 2) NULL,
	[Profit] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
USE [master]
GO
